li{padding: 10px 15px 10px 15px;background-color: rgb(198, 99, 119);color: aliceblue;margin-bottom: 10px}
ol{padding: 30px 30px 30px 30px; background-color: rgb(236, 158, 176);margin: 30px 30px 30px 30px;list-style-position: inside;}
span{padding: 10px 15px 11px 15px; background-color: rgb(158, 55, 79)}
